* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
header {
  display: flex;
  background-color: #ffffff;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #b6b1b1; */
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.068);
}
.myntra_home {
  height: 45px;
}
.logo_container {
  margin-left: 4%;
}
.action_bar {
  margin-right: 4%;
}
.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 24px 0;
  border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 500;
  border-radius: 4px 0 0 4px;
  font-size: 15px;
}
.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  padding-top: 8px;
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main section */
.banner_container {
  margin: 40px 0;
}
.banner_image {
  width: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-items,
.items-container {
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  width: 250px;
}

.footer_container {
  padding: 30px 0px 40px 0px;
  background: #fafbfc;
  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  text-align: end;
  padding: 15px;
}

.items-container {
  width: 95%;
  margin: 40px 40px;
}
.item-container {
  width: 250px;
  margin: 10px;
  margin-bottom: 80px;
}
.item-image {
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;
}
.rating {
  font-size: 12px;
  font-weight: 700;
}
.company-name {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}
.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
/* .btn-add-bag {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
} */
.bag-item-count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}
.action_container {
  text-decoration: none;
}
a.action_container:link {
  color: black;
}

.bag-items-container {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.spinner {
  margin: 100px 0px;
}
.parent-container {
  width: 100%;
  display: flex;
  margin: 30px 0px;
}
.left-container {
  width: 55%;
  display: block;
  margin: 0px 0 30px 30px;
  text-align: center;
}
.left-container img {
  width: 300px;
  height: 400px;
  margin: 0 10px 10px 0;
}
.right-container {
  width: 35%;
  margin: 0px 10px 30px 30px;
}

.rating1 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  color: #535766;
}
.innerdiv {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  width: 180px;
  padding: 0 5px;
}
.company-name1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-name1 {
  color: #535766;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.price1 {
  margin-top: 30px;
  font-size: 30px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}
.current-price1 {
  font-size: 25px;
  font-weight: 700;
  color: #282c3f;
}
.original-price1 {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 10px;
  font-size: 25px;
}
.discount1 {
  color: #ff905a;
  font-weight: 400;
  font-size: 25px;
  margin-left: 10px;
}
.tax {
  font-family: Roboto;
  color: #03a685;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
}
.size-div {
  margin: 30px 0px;
  color: #282c3f;
}
.options {
  display: flex;
}
.size-title {
  color: #282c3f;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  display: block;
}
.op {
  border: 1px solid #7e818c;
  width: 55px;
  height: 55px;
  color: #282c3f;
  font-size: 12px;
  font-weight: 900;
  margin: 10px 15px 10px 0;
  background-color: white;
}

.button-div {
  margin: 10px 0px;
  display: flex;
  width: 90%;
}
.add-to-bag-btn {
  width: 60%;
  background-color: rgb(255, 63, 108);
  border: none;
  color: white;
  margin-right: 20px;
  padding: 20px 50px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

.btn-icon {
  margin: 0 0px;
}

.wishlist-btn {
  width: 40%;
  background-color: white;
  border: 1px solid #7e818c;
  color: grey;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}
button span {
  padding: 0px 10px;
}

.delivery-options {
  margin: 30px 0px;
}
.delivery-heading {
  font-size: 18px;
  font-weight: 700;
}
.delivery-heading span {
  padding: 0 10px;
}

.delivery-address {
  margin: 10px 0;
}
.del-name {
  font-size: 16px;
  font-weight: 700;
  width: 60%;
  border: 1px solid #7e818c;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 5px;
}
.del-name button {
  background-color: white;
  color: #f54e77;
  border: none;
  font-size: 16px;
  font-weight: 700;
}
.all-options {
  width: 90%;
  font-size: 20px;
  font-weight: 700;
  color: #3e4152;
  font-size: 20px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.option1 {
  margin: 25px 0;
}
.option1 span {
  padding: 0px 20px;
}
.product-details {
  margin: 30px 0px;
}
.s-heading {
  color: #282c3f;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  display: block;
}
.p-description {
  width: 40%;
}
.specifications {
  margin: 30px 0px;
}
.s-heading {
  margin: 20px 0px;
}
.s-list {
  font-size: 20px;
  color: #696b79;
}
.col {
  font-size: 12px;
}
.wishlist-container {
  position: relative;
  text-align: center;
  color: #696b79;
}

/* Top right text */
.wishlist-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #0202028e;
  padding: 1px 3px;
  border-radius: 1px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.move-to-bag {
  margin-top: 8px;
  font-size: 12px;
  width: 100%;
  font-weight: 700;
  border: 1px solid #eaeaec;
  padding: 10px 15px;
  cursor: pointer;
  background-color: white;
  color: #f54e77;
  position: absolute;
  z-index: 2;
}
.moved-to-bag {
  margin-top: 8px;
  font-size: 12px;
  width: 100%;
  font-weight: 700;
  border: 1px solid #eaeaec;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f54e77;
  color: white;
  position: absolute;
  z-index: 2;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: #ffffff67;
  padding: 3px;
  border-radius: 2px;
  color: #282c3f;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #05050515;
  padding: 3px 7px;
  border-radius: 1px;
  color: white;
  cursor: pointer;
}
.item-container {
  position: relative;
}

.link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Set a higher z-index than the heart icon */
}

.wishlist-container {
  position: relative;
}

.wishlist-container .top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; /* Ensure the heart icon is above the link overlay */
}

.item-container {
  position: relative;
}

.link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Set a higher z-index than the delete icon */
}

.wishlist-container {
  position: relative;
}

.wishlist-container .wishlist-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; /* Ensure the delete icon is above the link overlay */
}
/* .paddingbtm {
  margin-bottom: 80px;
} */
.star {
  color: #03a685;
  font-size: 16px;
  padding-bottom: 2px;
}
.action_container {
  color: #282c3f;
}

.dropdown:hover {
  border-bottom: 4px solid #f54e77;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  background-color: white;
  width: 300px;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  font-size: 12px;
  font-weight: 600;
  color: #696e79;
  padding: 20px;
}

.dropdown-content p {
  display: block;
  padding: 0;
  margin: 2px 0;
}
.dropdown-content hr {
  margin: 5px 0 10px 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.search_input:focus {
  outline: none;
}

.toast-message {
  background: #535766;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
}
.notify {
  z-index: 3;
}
